@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
	background-color: white; 
	font-size: 16px; /*1em = 16px*/
	text-align: center; 
	position: relative;
}

header { 
	padding: 20px;
	 }

nav { 
padding: 20px;
}

nav a:hover {
	border-bottom: 1px solid #fff;
}

aside { 
padding: 20px;
 }

article { 
padding: 20px;
 }

footer { 
padding: 20px;
background-color: #03b6fc;
 }

div, section { 
padding: 20px;
 }

header { 
padding: 0 200px;
 }

#sky {
	background-image: url(../images/bluesky.jpg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 575px;
	padding: 20px 0;
	text-align: center;
}
h1{
	font-family: 'Saira Stencil One', sans-serif;
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	color: white;
	margin: 200px 0 0;

}

a {text-decoration: none;
	color: white;
	border-bottom: 2px solid #000;
	padding-bottom: 2px;
	text-align: center;

 }

 .clearfix:after { 
 	visibility: hidden; 
 	height: 0;
 	font-size: 0;
 	content: "#";
 	display: block;
 	clear: both;
 	}

 .wrapper {
 	width: 90% 
 	margin: auto;
 }

 .navlinks {
 	font-family: 'Playfair Display', sans-serif; 
 	color: white;
 	text-transform: uppercase;
 	font-weight: 500; 
 	letter-spacing: 2px;
 	padding: 20px;
 	margin: 0 20px;
 	border: none;
 }

 .planes { 
	width: 30%;
	margin: 2em auto;
	float:left;
}

#left { 
	padding: 20px;
 }


#right {
    padding: 20px;
 }

p { 
	font-family: 'Arial', serif; 
	font-size: 1em;
	line-height: 1.5em; 
	text-align: center;
 }
 h4, h3 {
 	text-align: center;
 	 font-family: 'Arial', sans-serif;
 }
 
hr { 
	border: none;
	height: 3px;
	background-color: #03b6fc;
	width: 15em;
	margin: 1em auto;
	align-content: center;
 }

 nav {
 	margin: auto;
 }


